#
# Partition Table
#
CONFIG_PARTITION_TABLE_SINGLE_APP=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
# end of Partition Table

#
# Serial Flasher Config
#
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
# end of Serial Flasher Config

#
# mbedTLS
#
CONFIG_MBEDTLS_HARDWARE_AES=n
CONFIG_MBEDTLS_HARDWARE_MPI=n
CONFIG_MBEDTLS_HARDWARE_SHA=n
CONFIG_MBEDTLS_CMAC_C=y
CONFIG_MBEDTLS_SSL_PROTO_DTLS=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECJPAKE=y
# end of TLS Key Exchange Methods

CONFIG_MBEDTLS_ECJPAKE_C=y
# end of mbedTLS

#
# Zboss
#
CONFIG_ZB_ENABLED=y
CONFIG_ZB_ZED=y
CONFIG_ZB_RADIO_NATIVE=y
# end of Zboss

#
# IEEE802154
#
CONFIG_IEEE802154_RECEIVE_DONE_HANDLER=y
# end of IEEE802154
# end of Component config

#
# ESP Analytics Configuration
#
CONFIG_ESP_ANALYTICS_SERVER_URL="http://localhost:8080/api/v1/telemetry"
CONFIG_ESP_ANALYTICS_API_KEY=""
CONFIG_ESP_ANALYTICS_DEVICE_ID="esp32-co2-sensor"
CONFIG_ESP_ANALYTICS_TRANSMISSION_INTERVAL_SEC=300
CONFIG_ESP_ANALYTICS_ENABLE_DEEP_SLEEP=y
CONFIG_ESP_ANALYTICS_BUFFER_SIZE=100
CONFIG_ESP_ANALYTICS_ENABLE_WIFI_POWER_SAVE=y
CONFIG_ESP_ANALYTICS_RETRY_ATTEMPTS=3
CONFIG_ESP_ANALYTICS_LOG_LEVEL=2
# end of ESP Analytics Configuration

#
# WiFi Configuration
#
CONFIG_ESP_WIFI_ENABLED=y
CONFIG_ESP_WIFI_SSID="your_wifi_ssid"
CONFIG_ESP_WIFI_PASSWORD="your_wifi_password"
CONFIG_ESP_WIFI_SCAN_AUTH_MODE_THRESHOLD=3
CONFIG_ESP_WIFI_CONNECT_AP_SCAN_TIMEOUT=5000
CONFIG_ESP_WIFI_CONNECT_STA_SAVE_RECONNECT=y
CONFIG_ESP_WIFI_CONNECT_STA_CONNECT_POLICY_FAST=y
CONFIG_ESP_WIFI_CONNECT_STA_CONNECT_POLICY_KEEP_CONNECT=y
CONFIG_ESP_WIFI_STATIC_TX_BUFFER_NUM=10
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=32
CONFIG_ESP_WIFI_AMPDU_TX_ENABLED=y
CONFIG_ESP_WIFI_AMPDU_RX_ENABLED=y
CONFIG_ESP_WIFI_TX_BAW_ENFORCE=0
CONFIG_ESP_WIFI_NVS_ENABLED=y
# end of WiFi Configuration